/* ПЕРЕМЕННЫЕ */

:root {
  --basic-color: #000;
  --basic-color-text: #333;
  --body-color: #888;
  --color-white: #fff;
  --blue-color: #81b3d2;
  --advantages-color: #eee;
  --brown-color: #766357;
  --brown-hover-color: #604e43;
  --brown-active-color: #503e33;
  --input-bg-color: #f2f2f2;
  --input-hover-bg-color: #ebebeb;
  --input-focus-bg-color: #e5e5e5;
  --button-hover-color: #669ec0;
  --button-active-color: #5496bd;
  --basic-font: "PT Sans", "Arial", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  font-family: var(--basic-font);

  background-color: var(--body-color);
}

.container {
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ХЕДЕР */

.header__container {
  position: relative;
  display: flex;
}

.header__list {
  display: flex;

  align-items: center;
  width: 100%;
  padding: 15px 0;

  background-color: var(--color-white);
}

.header__logo {
  position: absolute;
  left: 552px;

  cursor: pointer;
}

.header__link {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-color);

  cursor: pointer;

  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.5;
}

.header__link:active {
  opacity: 0.1;
}

.header__item--info {
  margin-left: 72px;
  margin-right: 134px;
}

.header__item--foto {
  margin-right: 419px;
}

.header__item--map {
  margin-right: 147px;
}

.promo {
  min-height: 509px;

  background-image: url("../img/shape.svg"), url("../img/index-promo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, 0 -1px;
}

.intro {
  padding: 43px 0;
  min-height: 215px;

  text-align: center;

  background-color: var(--color-white);
}

.intro__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-color);
  text-transform: uppercase;
}

.intro__text {
  margin-top: 43px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-color-text);
  text-transform: uppercase;
}

/* СЕРВИС */

.service {
  display: flex;
  background-color: var(--color-white);

  padding-bottom: 81px;
}

.service__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service__home--home {
  padding-top: 61px;
  padding-left: 73px;
}

.service__home--food {
  padding-top: 62px;
  padding-left: 133px;
}

.service__home--givt {
  padding-top: 55px;
  padding-left: 125px;
}

.service__strong {
  padding-top: 26px;

  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-color);
}

.service__text {
  padding-top: 26px;

  font-family: var(--basic-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-color-text);
}

.reason {
  display: flex;

  min-height: 256px;
}

.reason--second {
  flex-direction: row-reverse;
}

.reason--second .reason__col--right {
  background-image: url("../img/reason-2.jpg");
}

.reason--second .reason__col--left {
  padding: 50px 40px;
}

.reason__col--left {
  padding: 46px 30px;
  width: 400px;

  background-color: var(--blue-color);

  color: #fff;
  text-align: center;
}

.reason__col--right {
  flex-grow: 1;

  background-image: url("../img/reason-1.jpg");
  background-repeat: no-repeat;
}

.reason__title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21px;
}

.reason__number {
  display: inline-block;
  vertical-align: middle;
  margin-top: 27px;

  font-size: 14px;
  line-height: 21px;
}

.reason__text {
  margin-top: 24px;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages {
  display: flex;
  justify-content: space-between;
  padding: 47px 77px 54px 96px;
  background-color: var(--advantages-color);
}

.advantages__info {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.advantages__info--center {
  padding-left: 22px;
}

.advantages__strong {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-color);
  text-transform: uppercase;
}

.advantages__span {
  padding-top: 28px;

  font-family: var(--basic-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-color-text);
  text-transform: uppercase;
}

.advantages__text {
  padding-top: 23px;

  font-family: var(--basic-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-color-text);
  text-transform: uppercase;
}
.cta {
  padding-top: 55px;
  min-height: 291px;

  text-align: center;

  background-color: #ffffff;
}

.cta__title {
  margin-left: -10px;

  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.cta__text {
  margin-top: 33px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.cta__search {
  position: relative;

  width: 568px;
  margin: 44px auto 0 auto;

  background-color: #ffffff;
}

.cta__header {
  width: 100%;
  padding: 30px;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  outline: none;
  border: none;

  background-color: var(--brown-color);

  cursor: pointer;

  transition: all 0.3s ease;
}

.cta__header:hover {
  background-color: var(--brown-hover-color);
}

.cta__header:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var(--brown-active-color);
}

.cta__content {
  padding: 53px 55px;
  min-height: 395px;

  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.cta__group {
  display: flex;
  align-items: center;
}

.cta__group--date {
  position: relative;

  margin-bottom: 30px;
}

.cta__group--count .cta__input {
  width: 114px;

  text-align: center;
}

.cta__inner {
  position: relative;
}

.cta__control {
  position: absolute;

  width: 38px;
  height: 38px;

  border: none;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.cta__control--minus {
  left: 0;

  background-image: url("../img/icon/icon-minus.svg");

  transition: all 0.3s ease;
}

.cta__control--minus:hover {
  background-image: url("../img/icon/icon-minus-hover.svg");
}

.cta__control--minus:active {
  background-image: url("../img/icon/icon-minus-active.svg");
}

.cta__control--plus {
  right: 0;

  background-image: url("../img/icon/icon-plus.svg");
}

.cta__control--plus:hover {
  background-image: url("../img/icon/icon-plus-hover.svg");
}

.cta__control--plus:active {
  background-image: url("../img/icon/icon-plus-active.svg");
}

.cta__group--date::before {
  position: absolute;
  content: "";
  right: 10px;

  width: 21px;
  height: 23px;

  background-image: url("../img/icon/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.cta__wrapper {
  display: flex;
  justify-content: space-between;
}

.cta__label {
  width: 112px;

  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-color);
}

.cta__label--children {
  width: 65px;
}

.cta__input {
  flex-grow: 1;
  padding: 10px 13px;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-color);

  background-color: var(--input-bg-color);
  border: none;
  outline: none;
}

.cta__input:hover {
  background-color: var(--input-hover-bg-color);
}

.cta__input:focus {
  padding: 8px 11px;

  background-color: transparent;
  border: 2px solid var(--input-focus-bg-color);
}

.cta__button {
  display: block;
  width: 100%;
  margin-top: 54px;
  padding: 16px 20px;

  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: var(--blue-color);

  cursor: pointer;

  transition: all 0.3s ease;
}

.cta__button:hover {
  background-color: var(--button-hover-color);
}

.cta__button:active {
  background-color: var(--button-active-color);

  color: rgba(255, 255, 255, 0.3);
}

.map {
  height: 473px;
  margin-top: -396px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}
