/* ПЕРЕМЕННЫЕ */

:root {
  --basic-color: #000;
  --basic-color-text: #333;
  --basic-font: "PT Sans", "Arial", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  font-family: var(--basic-font);
}

.container {
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.promo {
  min-height: 509px;

  background-image: url("../img/shape.svg"), url("../img/index-promo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, 0 -1px;
}

.intro {
  padding: 43px 0;
  min-height: 216px;

  text-align: center;
}

.intro__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-color);
  text-transform: uppercase;
}

.intro__text {
  margin-top: 43px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-color-text);
  text-transform: uppercase;
}
